.row {
    display: flex;
}

.square0 {
    background-color: rebeccapurple;
    height: 30px;
    width: 30px;
    
}

.square1 {
    background-color: blue;
    height: 30px;
    width: 30px;
    
}

